<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("d10066fe-9cf8-4753-a5f7-d003d9d59e5f");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
